
.footer{
    /* height: 40vh; */
    background-color: black;
color: white;
padding: 40px;
display: flex;
flex-direction: column;
row-gap: 20px;
}

.footer-box{
    display: flex;
    flex-direction: column;
text-align: center;
row-gap: 30px;
/* border: 1px solid white; */
}


.footer-hr{
    height: 2px;
    width: 60vw;
    background-color: rgb(64, 57, 57);
    border: none;
    align-self: center;
}
.footer-pera{
    font-size: 140%;
}
.footer-icon{
    /* border: 1px solid; */
    position: relative;
    display: flex;
    align-self:center;
 column-gap: 25px;
    justify-content: center;
/* height: 40px; */
    
}
.footer-icon img{
    width: 30px;
    background-color:rgb(252, 254, 254);

    color: rgb(227, 237, 233);
    display: block;
    padding: 3px;
    border-radius:30% ;
}


@media screen and (max-width:1000px){
    .footer-pera{
        font-size: 110%;
    }
    
.footer-box{
    
row-gap: 15px;
/* border: 1px solid white; */
}
.footer{
  
padding: 30px 10px;
display: flex;
flex-direction: column;
row-gap: 20px;
}
}

